html {
  /* Disable text selection */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#window {
  border: 2px solid black;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#window #bg1 {
  background: url(../img/star.png) top left repeat;
  margin: 0; padding: 0;
  width: 100%;
  height: 100%;
}

#window #bg2 {
  background: url(../img/star-dino-2.png) top left no-repeat;
  margin: 0; padding: 0;
  width: 100%;
  height: 100%;
}

#window * {
  position: absolute;
}

.debug #window * {
  border: red 1px solid;
}

.square, .redsquare {
  width: 40px;
  height: 40px;
  background-color: black;
}

.redsquare {
  background-color: red;
}